<div class="f-container">
    <div class="forms">
      <h2>Reset Password</h2>
    <form  (ngSubmit)="submit()" class="form" [formGroup]="resetForm">
      <input type="email" formControlName="email" placeholder="Enter Your Email">
      <div *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)">
        <p class="err" *ngIf="resetForm.get('email')?.errors?.['required']">Email is required.</p>
        <p class="err" *ngIf="resetForm.get('email')?.errors?.['email']">Invalid email format.</p>
      </div>
      <input type="password" formControlName="newPassword" placeholder="Enter Your Password">
      <div *ngIf="resetForm.get('newPassword')?.invalid && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched)">
        <p class="err" *ngIf="resetForm.get('newPassword')?.errors?.['required']">Password is required.</p>
      </div>
      <button type="submit">Reset Password</button>
      <p>Don't have an account? <a routerLink="/register">Click here</a></p>
    </form>
    </div>
    
  </div>
  
  
  