<div *ngIf="cartItems.length > 0; else emptyCart">
    <h2>Your Cart</h2>
    <ul>
      <li *ngFor="let item of cartItems">
        <div>
          <img [src]="item.product.images" [alt]="item.product.name" width="100">
          <h3>{{ item.product.name }}</h3>
          <p>Price: ${{ item.product.price }}</p>
          
          <button (click)="removeFromCart(item.product)">-</button>
          <p>{{ item.quantity }}</p>
          <button (click)="addToCart(item.product)">+</button>
        </div>
      </li>
    </ul>
    <p class="total">Total: ${{ cartTotal }}</p>
    <button class="clear-cart-btn" (click)="clearCart()">Clear Cart</button>
    <button class="checkout-btn " (click)="goToOrderForm()">Chekout</button>
 

  </div>
  
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
  
