
:root{
  --primary:#013D29 ;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --secondary:#f68b1e;
  --tertiary: #FCF0E4;
  --container-color: #fff;
  --secondary-container:#F6F6F6;
}
/* Styling for the cart container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Styling for the cart heading */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Styling for the cart items */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  li div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  li img {
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  li h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  li p {
    margin: 5px 0;
    color: #777;
  }
  
  li button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  li button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the empty cart message */
  #emptyCart p {
    font-size: 16px;
    margin: 0;
    color: #777;
  }
  
  /* Styling for the total and action buttons */
  .total {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .total p {
    margin-right: 20px;
    color: #333;
  }
  
  .clear-cart-btn,
  .checkout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .clear-cart-btn:hover,
  .checkout-btn:hover {
    background-color: #0056b3;
  }
  
  .empty{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FCF0E4;
    height: 10rem;
    border-radius: .5rem;
  }
  .empty p{
    font-weight: 500;
    color: #f68b1e;
    font-size: 1.4rem;
  }
  .empty button{
    background-color:#013D29 ;
    padding: 0.8rem;
    width: 8rem;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: .5rem;
  }