<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
</head>
<body>
 <div *ngIf="cartItems.length">
  <div *ngFor="let item of cartItems">
    <div class="cart-card">
      <p>Product ID: {{ item.product_id }}</p>
      <p>Product Name: {{ item.product?.name }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Subtotal: {{ item.subtotal }}</p>
    </div>
    <p>Total:{{cartTotal}}</p>
  
    <!-- Add more HTML elements as needed for other item details -->
  </div>
 </div>
  <button class="clear-cart-btn" (click)="clearCart()">Clear Cart</button>
  <button class="checkout-btn " (click)="goToOrderForm()">Chekout</button>

  <style>
    .cart-card{
      display: flex;
    }
  </style>
</body>
</html>
  


