<div class="main">
    <div class="hero">
        <div class="left" >
            <div class="categories" *ngFor="let category of categories">
               <a [routerLink]="['/products', category.ID]" style="text-decoration: none;" > <p>{{category.NAME}}</p></a>
            </div>
        </div>
        <div class="right">
            <app-carousel></app-carousel>
        </div>
    </div>
    <app-categories></app-categories>
    <app-products></app-products>
    <app-footer></app-footer>
    
    
</div>