<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product details</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="top" *ngIf="product">
                <div class="l-left" >
                    <img src="{{product.images}}" alt="not found"/>
                </div>
                <div class="l-right">
                    <div class="title">
                        <h3>{{product.name}}</h3>
                        <!-- <ion-icon name="heart-outline"></ion-icon> -->
                    </div>
                    <div class="mid">
                        <h4>category|{{product.category_id}}</h4>
                        <div class="stars">
                            <!-- <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon> -->
                            <span>(360 verified ratings)</span>
                        </div>
                    </div>
                    <div class="free">
                        <p>Free delivery</p>
                    </div>
                    <div class="flash">
                        <!-- <ion-icon name="pricetag"></ion-icon> -->
                        <p>  <span></span> Flash sales</p>
                        <p>Starts on 22 May:900am</p>
                    </div>
                    <div class="price">
                        <h1>${{product.price}}</h1>
                    </div>
                    <div class="button">
                        <!-- <ion-icon name="cart"></ion-icon> -->
                        <button> <span></span> <a href="./checkout.html" style="text-decoration: none; color: white;">Add to cart</a></button>
                    </div>
                </div>
               
            </div>
            <div class="bottom" *ngIf="product">
                <div class="b-top">
                    <h3>{{product.name}} details</h3>
                   <p> {{product.description}}
                   </p>
                </div>
                <div class="b-bottom" style="display: flex ;justify-content:space-between; width: 60%" >
                  
                        <button> <span></span> <a (click)="addToCart(product.id)" style="text-decoration: none; color: white;">Add to cart</a></button>
                        <button  *ngIf="authservice.isAdmin()"> <span></span> <a routerLink="" style="text-decoration: none; color: white;">edit</a></button>
                        <button  *ngIf="authservice.isAdmin()"> <span></span> <a  style="text-decoration: none; color: white;">delete</a></button>
                   
                </div>
            </div>

        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
