<div class="nav">
    <div class="logo">
        <a routerLink="">
            <img src="../assets/images/logo.png" />
        </a>
    </div>
    <div class="search">
        <input type="search" name="" id="" placeholder="Search products, brands and categories">
        <button style="background-color: #003C29;">Search</button>
    </div>
    
    <div class="links">
        
       
        <p><a routerLink="/help" *ngIf="!authService.isAdmin()"  >Help</a></p>
        <!-- *ngIf="authService.isAdmin()" -->
        <p><a routerLink="/products/add" *ngIf="authService.isAdmin()">Add Product</a></p>

        <p><a [routerLink]="'./cart'">Cart</a></p>
        <p> <a routerLink="/register" *ngIf="!authService.isLoggedIn()">
            <button>signup</button>
        </a></p>
        <a  *ngIf="authService.isLoggedIn()"
        (click)="authService.logout()"
        >
        <button>Logout</button>
    </a>
    </div>
</div>