<div class="nav">
    <div class="logo">
        <a routerLink="">
            <img src="../assets/images/logo.png" />
        </a>
       
        <!-- <a routerLink="">Home</a> -->
    </div>
    <div class="search">
        <input type="search" name="" id="" placeholder="Search products, brands and categories">
        <button style="background-color: #003C29;">Search</button>
    </div>
    
    <div class="links">
        
       
        <p><a routerLink="/help">Help</a></p>
        <p><a href="">Cart</a></p>
        <p> <a routerLink="/register">
            <button>signup</button>
        </a></p>
    </div>
</div>