/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
=======
>>>>>>> bf4fdb523fbe423cfa5609cdfd224d0b6d6e4300
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ffffff;
}
.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
