/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ffffff;
}
.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
>>>>>>> 05fef476fc6579df88f5659fee8541f86004d7f8
